<div class="flex flex-col gap-4 p-4 bg-slate-50 sm:items-center">
  <!-- Barre de recherche -->
  <div class="flex flex-col w-full max-w-[500px] sm:items-center">
    <input
      type="text"
      id="search"
      [formControl]="searchText"
      (input)="onSearchChange()"
      placeholder="Recherche un produit..."
      class="w-full p-2 bg-white border rounded focus:ring-2 focus:ring-blue-400 focus:outline-none"
    />
  </div>

  <!-- Conteneur pour aligner les select (un peu plus large que la barre de recherche) -->
  <div
    class="flex flex-col sm:flex-row sm:justify-center sm:gap-4 w-full max-w-[600px]"
  >
    <!-- Sélection des catégories -->
    <div class="flex flex-col w-full sm:w-[280px]">
      <label for="category" class="mb-1 text-sm font-medium text-gray-700 mx"
        >Catégorie</label
      >
      <select
        id="category"
        [formControl]="selectedCategory"
        (change)="onFilterChange()"
        class="w-full p-2 bg-white border rounded focus:ring-2 focus:ring-blue-400 focus:outline-none"
      >
        <option value="all">Toutes les catégories</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <!-- Sélection des pièces -->
    <div class="flex flex-col w-full sm:w-[280px]">
      <label for="room" class="mb-1 text-sm font-medium text-gray-700"
        >Pièce</label
      >
      <select
        id="room"
        [formControl]="selectedRoom"
        (change)="onFilterChange()"
        class="w-full p-2 bg-white border rounded focus:ring-2 focus:ring-blue-400 focus:outline-none"
      >
        <option value="all">Toutes les pièces</option>
        <option *ngFor="let room of rooms" [value]="room">{{ room }}</option>
      </select>
    </div>
  </div>
</div>
