<header class="bg-white shadow-xl">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex justify-between w-full">
        <!-- Logo -->
        <div class="flex items-center flex-shrink-0">
          <img class="w-auto h-8" [src]="logoPath" alt="Logo" />
          <div class="text-4xl font-anton">MALIN</div>
        </div>

        <!-- Search Bar (hidden on mobile) -->
        <!-- <div class="hidden sm:max-w-96 sm:w-96 sm:mx-6 sm:flex sm:items-center">
          <div class="relative w-full">
            <input
              type="text"
              placeholder="Rechercher un meuble"
              class="w-full px-4 py-2 border rounded-md focus:outline-none"
            />
            <button class="absolute top-0 right-0 mt-2 mr-2">
              <img
                src="assets/svg/icon-search.svg"
                alt="Search"
                class="w-6 h-6"
              />
            </button>
          </div>
        </div> -->

        <!-- Navigation Items -->
        <div class="hidden sm:ml-6 sm:flex sm:items-center">
          <!-- Account Management -->
          <a
            href="#"
            class="px-3 py-2 text-sm font-medium text-gray-700 rounded-md hover:text-gray-900"
          >
            <img
              src="assets/svg/icon-account.svg"
              alt="Account"
              class="w-6 h-6"
            />
          </a>

          <!-- Favorites -->
          <a
            href="#"
            class="px-3 py-2 text-sm font-medium text-gray-700 rounded-md hover:text-gray-900"
          >
            <img src="assets/svg/icon-fav.svg" alt="Cart" class="w-6 h-6" />
          </a>

          <!-- Cart -->
          <a
            href="#"
            class="px-3 py-2 text-sm font-medium text-gray-700 rounded-md hover:text-gray-900"
          >
            <img src="assets/svg/icon-cart.svg" alt="Cart" class="w-6 h-6" />
          </a>
        </div>

        <!-- Mobile menu button -->
        <div class="flex items-center sm:hidden">
          <button
            (click)="toggleMenu()"
            class="inline-flex items-center justify-center p-2 text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500"
          >
            <img
              *ngIf="!isMenuOpen"
              src="assets/svg/icon-menu-open.svg"
              alt="Menu"
              class="w-6 h-6"
            />
            <img
              *ngIf="isMenuOpen"
              src="assets/svg/icon-menu-close.svg"
              alt="Menu"
              class="w-6 h-6"
            />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <nav
    [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
    class="fixed left-0 w-full bg-white top-16 sm:hidden"
  >
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Mobile Navigation Items -->
      <a
        href="#"
        class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900"
        >Compte</a
      >
      <a
        href="#"
        class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900"
        >Favoris</a
      >
      <a
        href="#"
        class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900"
        >Panier</a
      >
    </div>
  </nav>
</header>
