<div class="mx-auto max-w-7xl">
  <div class="w-full h-16 bg-slate-100">filtre section</div>
  <div class="grid grid-cols-1 gap-4 px-2 pt-3 sm:grid-cols-2 lg:grid-cols-3">
    <div
      class="flex flex-col h-full max-w-md mx-auto overflow-hidden rounded-md shadow-md hover:shadow-lg"
    >
      <div class="relative h-96">
        <img
          class="object-cover w-full h-full"
          src="assets/images/table.png"
          alt="table"
        />
      </div>
      <div class="flex flex-col flex-grow p-4">
        <h3 class="mb-2 text-lg font-medium">Product Title</h3>
        <p class="flex-grow mb-4 text-sm text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae
          ante vel eros fermentum faucibus sit amet euismod lorem.
        </p>
        <div class="flex items-center justify-between">
          <span class="text-lg font-bold">$19.99</span>
          <button
            class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600"
          >
            voir plus
          </button>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col h-full max-w-md mx-auto overflow-hidden rounded-md shadow-md hover:shadow-lg"
    >
      <div class="relative h-96">
        <img
          class="object-cover w-full h-full"
          src="assets/images/canape.png"
          alt="canape"
        />
      </div>
      <div class="flex flex-col flex-grow p-4">
        <h3 class="mb-2 text-lg font-medium">Product Title</h3>
        <p class="flex-grow mb-4 text-sm text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae
          ante vel eros fermentum faucibus sit amet euismod lorem.
        </p>
        <div class="flex items-center justify-between">
          <span class="text-lg font-bold">$19.99</span>
          <button
            class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600"
          >
            voir plus
          </button>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col h-full max-w-md mx-auto overflow-hidden rounded-md shadow-md hover:shadow-lg"
    >
      <div class="relative h-96">
        <img
          class="object-cover w-full h-full"
          src="assets/images/fauteuil.png"
          alt="fauteuil"
        />
      </div>
      <div class="flex flex-col flex-grow p-4">
        <h3 class="mb-2 text-lg font-medium">Product Title</h3>
        <p class="flex-grow mb-4 text-sm text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae
          ante vel eros fermentum faucibus sit amet euismod lorem.
        </p>
        <div class="flex items-center justify-between">
          <span class="text-lg font-bold">$19.99</span>
          <button
            class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600"
          >
            voir plus
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
